.post {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.title_wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  height: 11px;
  width: 100%;
}

.action_buttons {
  position: absolute;
  left: 20px;
  top:10px;
}


.edit_button {
  padding: 10px 15px;
  border: 2px solid #666;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  margin-right: 10px;
}

.delete_button {
  padding: 10px 15px;
  border: 2px solid #f00;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #f00;
  cursor: pointer;
}

.delete_button:hover {
  background-color: #f00;
  color: #fff;
}

.edit_button:hover {
  background-color: blue;
  color: #fff;
}

.title {
  margin-left: 220px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 1.5em;
  width: 100%;
  margin-right: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  
}

.content img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border: 1px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.content_text {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  max-height: 9em;
}
